*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

    /*font-family: 'Roboto', sans-serif;*/
}
/*//////////////////////////////////////////////////////////////
//                                                           //
//                        master.blade                       //
//////////////////////////////////////////////////////////////*/
.backg{
   background-image: url("../../assets/images/back1.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   font: 600 16px/18px 'Open Sans', sans-serif
}
.backimg{
    background-image: url("../../assets/images/back_ori.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font: 600 16px/18px 'Open Sans', sans-serif
 }
.write{
    color: #5393c9;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 80px;


}
.bien{
    color: white;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mot{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;

}

.contenu{
    background: #e5e6e7a8;
    border-radius: 20px;
}
.info{
    width: 100%;
}


